<div class="galerie-header">
    <h2>Galerie - Braut</h2>
    <p>
        Für den schönsten Tag im Leben werden in der Kollektion ETERNAL LOVE nur die hochwertigsten Materilalien
        verwendet. Federn, Perlen, Strass, Seiden, Organza, Chiffon, Satin , Spitzen, Schleier und
        Vintageglasknöpfe finden ihre Bestimmung in Fascinators und Headpieces, Birdcages und zarten Haarreifen
        für die Braut. Passend dazu findet auch die Bridesmaid ihren passenden Kopfschmuck bei Kopf-Kultur.
        Der Stil der ETERNAL LOVE Kollektion ist puristisch romantisch angelehnt.
    </p>
    <!--<ul>-->
    <!--<li><a href="#/galeries/hats#summer">Sommer</a></li>-->
    <!--<li><a href="#/galeries/hats#winter">Winter</a></li>-->
    <!--</ul>-->
</div>

<div class="container galerie">

    <kk-galery-section id="clips" baseurl="static/public/img/kopfkultur/galeries/bridal">
        <h3>Clips</h3>

        <div class="row">
            <kk-galery-img name="bridal_clips_01">CHRISTAL PEARLS#</kk-galery-img>
            <kk-galery-img name="bridal_clips_02">GOLDEN MANTIS#</kk-galery-img>
            <kk-galery-img name="bridal_clips_03">CREAMY PEARLS#</kk-galery-img>
            <kk-galery-img name="bridal_clips_04">GARTEN EDEN#</kk-galery-img>
        </div>
        <!-- /.row -->

        <div class="row">
            <kk-galery-img name="bridal_clips_05">LIBELLA ROSE#</kk-galery-img>
            <kk-galery-img name="bridal_clips_10">CREME LACE BOW#</kk-galery-img>
            <kk-galery-img name="bridal_clips_11">LITTLE FLOWER#</kk-galery-img>
            <kk-galery-img name="bridal_clips_08">LIBELLA SILVER#</kk-galery-img>
        </div>
        <!-- /.row -->

        <div class="row">
            <kk-galery-img name="bridal_clips_09">SHEER SILK#</kk-galery-img>
        </div>
        <!-- /.row -->

    </kk-galery-section>

    <kk-galery-section id="fascinators" baseurl="static/public/img/kopfkultur/galeries/bridal">
        <h3>Fascinators</h3>

        <div class="row">
            <kk-galery-img name="bridal_fascinator_11">LACE CAP#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_12">LACE CAP#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_02">LAETIZIA#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_03">ORGANZA SILK#</kk-galery-img>
        </div>

        <div class="row">
            <kk-galery-img name="bridal_fascinator_04">KANZASHI FLOWER#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_05">GISEL#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_06">MADELAINE#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_07">ELSA#</kk-galery-img>
        </div>

        <div class="row">
            <kk-galery-img name="bridal_fascinator_13">WHITE PEONIA#</kk-galery-img>
            <kk-galery-img name="bridal_fascinator_10">JILL#</kk-galery-img>
            <kk-galery-img name="bridal_2014_03">FEATHER FLOWER#</kk-galery-img>
        </div>
    </kk-galery-section>

    <kk-galery-section id="headbands" baseurl="static/public/img/kopfkultur/galeries/bridal">
        <h3>Haarreifen & Haarbänder</h3>

        <div class="row">
            <kk-galery-img name="bridal_headband_01">SWEET BOW#</kk-galery-img>
            <kk-galery-img name="bridal_headband_06">DAISY LACE# Strawberry</kk-galery-img>
            <kk-galery-img name="bridal_headband_07">PEARLED#</kk-galery-img>
            <kk-galery-img name="bridal_headband_04">MINT FLOWER#</kk-galery-img>
        </div>

        <div class="row">
            <kk-galery-img name="bridal_headband_08">MERRY ME#</kk-galery-img>
            <kk-galery-img name="bridal_2014_05">SATIN ROSE#</kk-galery-img>
            <kk-galery-img name="bridal_headband_09">MERRY ME FLOWER#</kk-galery-img>
            <kk-galery-img name="bridal_2014_08">LILITH#</kk-galery-img>
        </div>
    </kk-galery-section>

    <kk-galery-section id="headpieces" baseurl="static/public/img/kopfkultur/galeries/bridal">
        <h3>Headpieces</h3>

        <div class="row">
            <kk-galery-img name="bridal_headpiece_01">GINA#</kk-galery-img>
            <kk-galery-img name="bridal_headpiece_02">STERNCHENHIMMEL#</kk-galery-img>
            <kk-galery-img name="bridal_headpiece_03">VINTAGE ROMANCE#</kk-galery-img>
            <kk-galery-img name="bridal_2014_07">BRIDAL BIBI# cream rose lace</kk-galery-img>
        </div>

        <div class="row">
            <kk-galery-img name="bridal_2014_11">IVORY CAVIAR#</kk-galery-img>
            <kk-galery-img name="bridal_2014_12">BRIDAL BIBI# tulle tutu</kk-galery-img>
        </div>
    </kk-galery-section>

    <kk-galery-section id="veils" baseurl="static/public/img/kopfkultur/galeries/bridal">
        <h3>Schleier</h3>

        <div class="row">
            <kk-galery-img name="bridal_veils_01">VINATE ROSE#</kk-galery-img>
            <kk-galery-img name="bridal_veils_11">BRIDAL VEIL#</kk-galery-img>
            <kk-galery-img name="bridal_veils_04">VIOLET#</kk-galery-img>
            <kk-galery-img name="bridal_veils_05">LINETTE#</kk-galery-img>
        </div>

        <div class="row">
            <kk-galery-img name="bridal_veils_06">SWEETPEARL#</kk-galery-img>
            <kk-galery-img name="bridal_veils_12">BLUSHER VEIL# Cornflower</kk-galery-img>
            <kk-galery-img name="bridal_veils_08">MERRY ME#</kk-galery-img>
            <kk-galery-img name="bridal_veils_13">BLUSHER VEIL# Satin</kk-galery-img>
        </div>

        <div class="row">
            <kk-galery-img name="bridal_veils_14">LAVINIA#</kk-galery-img>
            <kk-galery-img name="bridal_2014_01">LUISA# ELLA#</kk-galery-img>
            <kk-galery-img name="bridal_2014_09">ESTELLE#</kk-galery-img>
            <kk-galery-img name="bridal_2014_10">SATIN ROSE# birdcage</kk-galery-img>
        </div>

        <div class="row">
          <kk-galery-img name="bridal_veils_15">SILK BLOSSOM#</kk-galery-img>
        </div>
    </kk-galery-section>


</div><!-- /.container -->
