<div class="site-header">
    <h2>Impressum</h2>
</div>


<div class="container">

    <div class="featurette">
        <img class="featurette-image pull-right thumbnail" src="static/public/img/kopfkultur/featurette_label.png">
        <h2 class="featurette-heading">Anschrift</h2>
        <p class="lead">
            Kopf-Kultur<br>
            Anja Ernst<br>
            Lammer Busch 75<br>
            38116 Braunschweig<br>
            <br>
            Telefon: 0531 61545625<br>
            E-Mail: <a href="mailto:info@kopf-kultur.de">info@kopf-kultur.de</a><br>
        </p>
        <div class="fb-follow" data-href="https://www.facebook.com/kopf.kultur.1" data-width="100" data-show-faces="false"></div>
    </div>
</div>
