
<!-- Carousel
================================================== -->
<div id="kk-Carousel" class="carousel slide visible-md visible-lg">
    <div class="carousel-inner">
        <div class="item active">
            <img src="static/public/img/kopfkultur/carousel2.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Bridal Collection 2014</h1>
                    <p class="lead">Die neue Brautkollektion 2014 ist da!</p>
                    <a class="btn btn-large btn-default" href="#/galeries/bridal">Jetzt ansehen &raquo;</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="static/public/img/kopfkultur/carousel4.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Meine Werkstatt</h1>
                    <p class="lead">Hier sind ein paar Impressionen aus meiner Werksatt zu sehen</p>
                    <a class="btn btn-large btn-default" href="#/about">Über mich &raquo;</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" ng-click="carouselPrev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" ng-click="carouselNext()"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="container teaser">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-xs-4">
            <div class="teaser-img img-circle"><img src="static/public/img/kopfkultur/teaser_hats.jpg"></div>
            <a href="#/galeries/hats"><h2>Hats</h2></a>
        </div>
        <div class="col-xs-4">
            <div class="teaser-img img-circle"><img src="static/public/img/kopfkultur/teaser_headpieces.jpg"></div>
            <a href="#/galeries/headpieces"><h2>Occasion</h2></a>
        </div>
        <div class="col-xs-4">
            <div class="teaser-img img-circle"><img src="static/public/img/kopfkultur/teaser_bridal.jpg"></div>
            <a href="#/galeries/bridal"><h2>Bridal</h2></a>
        </div>
    <!--    <div class="col-xs-3">
            <div class="teaser-img img-circle"><img src="img/kopfkultur/teaser_kids.jpg"></div>
            <h2>Kinder</h2>
            <p><a class="btn btn-default" href="#/galeries/kids">Kinder &raquo;</a></p>
        </div>-->
    </div><!-- /.row -->



</div><!-- /.container -->
