
<div class="galerie-header">
    <h2>Galerie - Hüte & Mützen</h2>
    <p>
        Feinste Haarfilze werden zu Hutunikaten gearbeitet. Ob Melousine, Velours oder Prints.
        Dem Material Filz sind in der Formgebung kaum Grenzen gesetzt.
        Über historische Hutformen werden die Filze handgezogen und werden so zu feinen Pillboxkappen,
        Bowler oder Glocken gearbeitet. Die Kollektion zeigt eine klare Affinität zu den 20 er Jahren auf.
    </p>
    <ul>
        <li><a kk-scroll-to="summer">Sommer</a></li>
        <li><a kk-scroll-to="winter">Winter</a></li>
    </ul>
</div>

<div class="container galerie">
    <kk-galery-section id="summer" baseurl="static/public/img/kopfkultur/galeries/hats">
        <h3>Sommer</h3>
        <p>
            Luftig leichte Stoffe aus Baumwolle, Seide oder Leinen sind die Basis der Hut und Mützenkollektion
            von Kopf-Kultur. Sportliche und bequeme Schnitte bieten dem Träger/der Trägerin größten Komfort.
        </p>

        <div class="row">
            <kk-galery-img name="hats_summer_05">MIA# Red Stripes</kk-galery-img>
            <kk-galery-img name="hats_summer_02">MIA# Flower Print Red</kk-galery-img>
            <kk-galery-img name="hats_summer_03">MIA# Flower Print Black</kk-galery-img>
            <kk-galery-img name="hats_summer_04">MIA# Fifties Flower</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="hats_summer_01">MARGE# Sisol Bibi</kk-galery-img>
            <kk-galery-img name="hats_summer_06">CIRCUS# Sisol Zylinder</kk-galery-img>
            <kk-galery-img name="hats_summer_07">PETE# Nature</kk-galery-img>
            <kk-galery-img name="hats_summer_08">PETE# Aqua</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="hats_summer_09">SEEROSE# Sisol Kappe</kk-galery-img>
            <kk-galery-img name="hats_summer_10">VENUS# Basecap</kk-galery-img>
            <kk-galery-img name="hats_summer_11">MATS# Perlmutt</kk-galery-img>
            <kk-galery-img name="hats_summer_12">MATS# Seafoam</kk-galery-img>
        </div><!-- /.row -->
    </kk-galery-section><!-- /.galerie-section -->

    <kk-galery-section id="winter" baseurl="static/public/img/kopfkultur/galeries/hats">
        <h3>Winter</h3>
        <p>
            Tweed, Bouclé,  Loden und andere hochwertige Winterstoffe sind die Materialien, die bei Kopf-Kultur
            zu sportlich eleganten Mützen und Hüten verarbeitet werden. Nach eigenen Schnittmustern entsteht
            eine kleine Kollektion.
        </p>

        <div class="row">
            <kk-galery-img name="hats_winter_01">DOTS# Fedora</kk-galery-img>
            <kk-galery-img name="hats_winter_02">CLOCHE#</kk-galery-img>
            <kk-galery-img name="hats_winter_12">BERET HIBISKUS# Grey</kk-galery-img>
            <kk-galery-img name="hats_winter_13">BERET HIBISKUS# Midnight</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="hats_winter_14">CHARLSTON# Elephant Grey</kk-galery-img>
            <kk-galery-img name="hats_winter_15">BEANIE# Fishbone</kk-galery-img>
            <kk-galery-img name="hats_winter_16">NEWSBOY CAP# Brown</kk-galery-img>
            <kk-galery-img name="hats_winter_08">BEANIE# Velvet Flower</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="hats_winter_17">NEWSBOY CAP# Fishbone</kk-galery-img>
            <kk-galery-img name="hats_winter_10">RUFFLED#</kk-galery-img>
            <kk-galery-img name="hats_winter_18">TURBAN# Petrol</kk-galery-img>
        </div><!-- /.row -->

    </kk-galery-section><!-- /.galerie-section -->
</div><!-- /.container -->
