
<div class="galerie-header">
    <h2>Galerie - Kopfschmuck</h2>
    <p>Kokett und glamourös sind die Adjektive, welche den Stil der kollektion am treffensten beschreiben.
        Mit einem Augenzwinkern sind die Kreationen zu verstehen. Eines erzielt die Trägerin auf jedenfall:
        Aufsehen! Feine Haarfilze, glamouröser Glitter und Strass, zarte Stoffe und feine Prints sind die
        Zutaten der Kollektion.
    </p>
</div>

<div class="container galerie">
    <kk-galery-section id="headpieces" baseurl="static/public/img/kopfkultur/galeries/headpieces">
        <h3>Headpieces</h3>

        <div class="row">
            <kk-galery-img name="headpieces_01">DELIGHT GREY#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_18">MINI BOATER# Checks</kk-galery-img>
            <kk-galery-img name="headpieces_04">BLACK LILY#</kk-galery-img>
            <kk-galery-img name="headpieces_05">BOMMEL#</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="headpieces_2014_19">CHRISTMAS APPLE#</kk-galery-img>
            <kk-galery-img name="headpieces_07">GERDA#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_20">COSY GRETA# Khaki</kk-galery-img>
            <kk-galery-img name="headpieces_10">SILVA#</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="headpieces_2014_01">40ie GLAM#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_03">BOUDOIR#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_21">POPPY LOVE# Turquoise</kk-galery-img>
            <kk-galery-img name="headpieces_2014_22">HAPPY GARDENING# Peach</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="headpieces_2014_11">GLAM HYDRANGEA#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_23">BUTTON# AUBERGINE</kk-galery-img>
            <kk-galery-img name="headpieces_2014_24">LOVE#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_15">STERNCHENHIMMEL#</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="headpieces_2014_25">PRESENT BOW#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_26">LITTLE VELVET#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_27">VINTAGE FRUIT#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_17">VINTAGE CHOCOLATE#</kk-galery-img>
        </div><!-- /.row -->

    </kk-galery-section><!-- /.galerie-section -->

    <kk-galery-section id="headbands" baseurl="static/public/img/kopfkultur/galeries/headpieces">
        <h3>Headbands</h3>

        <div class="row">
            <kk-galery-img name="headpieces_2014_05">DAISY#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_06">DARK WATER LEAFS#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_28">ALICE# Red</kk-galery-img>
            <kk-galery-img name="headpieces_2014_29">DAISY# Pink Leo</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
          <kk-galery-img name="headpieces_2014_30">GARDEN EDEN# Autumn</kk-galery-img>
          <kk-galery-img name="headpieces_2014_31">GARDEN EDEN# Spring</kk-galery-img>
          <kk-galery-img name="headpieces_2014_32">GLORY LEAF# Lavender Gold</kk-galery-img>
          <kk-galery-img name="headpieces_2014_33">GLORY LEAF# Midnight Graphite</kk-galery-img>
        </div><!-- /.row -->

      <div class="row">
        <kk-galery-img name="headpieces_2014_34">FLIRTY BUTTERFLY# Opal</kk-galery-img>
        <kk-galery-img name="headpieces_2014_35">RED LEAFS#</kk-galery-img>
      </div><!-- /.row -->

    </kk-galery-section><!-- /.galerie-section -->

    <kk-galery-section id="fascinators" baseurl="static/public/img/kopfkultur/galeries/headpieces">
        <h3>Fascinators</h3>

        <div class="row">
            <kk-galery-img name="headpieces_2014_02">VINTAGE BUTTON BIRDCAGE#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_09">SATIN FLOWER#</kk-galery-img>
            <kk-galery-img name="headpieces_2014_10">SHEER SILK#</kk-galery-img>
        </div><!-- /.row -->

    </kk-galery-section><!-- /.galerie-section -->



</div><!-- /.container -->
