
<div class="galerie-header">
    <h2>Galerie - Kinder</h2>
    <p>Hier sind alle Mützen & Kopfbedeckungen für Kinder zu sehen</p>
    <ul>
        <li><a kk-scroll-to="caps">Mützen</a></li>
    </ul>
</div>

<div class="container galerie">
    <kk-galery-section id="caps" baseurl="static/public/img/kopfkultur/galeries/kids">
        <h3>Mützen</h3>
        <p>
            Kindermützen müssen bequem sein und was aushalten.  Hochwertige Jerseystoffe, Baumwollpopeline und
            Leinen werden zu fröhlich bunten Kopfbedeckungen verarbeitet die den Anforderungen des Alltags
            standhalten. Sie schützen vor Sonne und Wind.
        </p>

        <div class="row">
            <kk-galery-img name="kids_03">JONTE#</kk-galery-img>
            <kk-galery-img name="kids_08">JONNYLYCK#</kk-galery-img>
            <kk-galery-img name="kids_09">JULE#</kk-galery-img>
            <kk-galery-img name="kids_18">LYCKA#</kk-galery-img>
        </div><!-- /.row -->

        <div class="row">
            <kk-galery-img name="kids_19">JONNYLYCK#</kk-galery-img>
            <kk-galery-img name="kids_23">JULE#</kk-galery-img>
            <kk-galery-img name="kids_28">LYCKA#</kk-galery-img>
            <kk-galery-img name="kids_33">LYCKA#</kk-galery-img>
        </div><!-- /.row -->

    </kk-galery-section><!-- /.galerie-section -->
</div><!-- /.container -->
