<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button ng-click="back()"><i class="mdi mdi-keyboard-arrow-left mdi-lg"></i></md-button>
    <span>{{galerie.name}} - Artikel Bearbeiten</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-button ng-click="saveGalerieItems(galerie)"><i class="mdi mdi-done mdi-lg"></i></md-button>
  </div>
</md-toolbar>

<md-content class="md-padding" layout="column">
  <div ng-repeat="section in galerie.sections | orderBy: 'position'">
    <div layout="row">
      <h4>{{section.name}}</h4>
      <span flex></span>
      <md-button class="md-fab md-primary" style="position: relative; top: -10px;" ng-click="showAddItemDialog(section)">
        <i class="mdi mdi-add mdi-lg"></i>
      </md-button>
    </div>

    <div layout="row" class="header-row">
      <div flex="10">
        #
      </div>
      <div flex="35">
        Name
      </div>
      <div flex="45">
        Bild
      </div>
      <div flex="10">
      </div>
    </div>

    <div layout="row" ng-repeat="item in section.items | orderBy: 'position'">
      <div flex="10">
        {{item.position}}
      </div>
      <div flex="35">
        {{item.item.name}}
      </div>
      <div flex="45">
        <img class="list-icon" ng-src="{{item.item.thumb}}" />
      </div>
      <div flex="10" style="margin-top: 1rem;">
        <a ng-click="showItemDeleteConfirm(section, item)"><i class="mdi mdi-delete" title="Löschen"></i></a>
        <a ng-click="itemUp(section, item)"><i class="mdi mdi-keyboard-arrow-up" title="Hoch"></i></a>
        <a ng-click="itemDown(section, item)"><i class="mdi mdi-keyboard-arrow-down" title="Runter"></i></a>
      </div>
    </div>
  </div>
</md-content>
