<md-bottom-sheet class="md-list md-has-header">
  <md-subheader>Artikel Aktionen</md-subheader>
  <md-list>
    <md-item>
      <md-button aria-label="Bearbeiten" ng-click="itemClick('edit')">
        <md-inline-list-icon><i class="mdi mdi-edit"></i></md-inline-list-icon>
        <span class="md-inline-list-icon-label">Bearbeiten</span>
      </md-button>
    </md-item>
    <md-item>
      <md-button aria-label="Löschen" ng-click="itemClick('delete')">
        <md-inline-list-icon><i class="mdi mdi-delete"></i></md-inline-list-icon>
        <span class="md-inline-list-icon-label">Löschen</span>
      </md-button>
    </md-item>
  </md-list>
</md-bottom-sheet>
