<div class="site-header">
    <h2>Alles über Kopf-Kultur</h2>
</div>


<div class="container">

    <div class="featurette">
        <img class="featurette-image pull-right thumbnail" src="static/public/img/kopfkultur/featurette_anja.png">
        <h2 class="featurette-heading">Anja Ernst<span class="muted"> - Modistin.</span></h2>
        <p class="lead">
            Hinter Kopf-Kultur steht Anja Ernst. Die gelernte Modistin, die ihr Handwerk in einem Hannoveraner
            Hutgeschäft erlernt hat, fertigt individuellen Kopfschmuck und Kopfbedeckungen in ihrem Atelier mit
            Werkstatt in Braunschweig an. Verkauft werden ihre Kreationen auf Ausstellungen, in ausgewählten Läden
            und über ihren Onlineshop oder nach Terminabsprache in ihrem Atelier.
        </p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image pull-left" src="static/public/img/kopfkultur/featurette_logo.png">
        <h2 class="featurette-heading">Kopf-Kultur<span class="muted"> - Die Marke</span></h2>

        <p class="lead">
            Kopf-Kultur steht für eleganten Kopfschmuck im Stile der 50er Jahre. Verspielt, feminin und immer einen Hauch Vintage.
            Aus feinen Seidenstoffen, Spitzen, Filz, Federn und Perlen entstehen Fascinators und Headpieces: Immer handgearbeitet, immer ein Unikat.
        </p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="featurette-image pull-right thumbnail" src="static/public/img/kopfkultur/featurette_atelier.png">
        <h2 class="featurette-heading">Das Atelier<span class="muted"> - Hier entstehen meine Kreationen</span></h2>
        <p class="lead">
            Auch bei der Fertigung ihrer Kopfbedeckungen, wie Mützen und Hüte, achtet die gelernte Modistin auf sorgfältige Verarbeitung und gute Tragbarkeit der ausgewählten Materialien.
            Sie verarbeitet hochwertige Naturfasern, wie Wolle, Seide, Baumwolle und Haarfilze.
        </p>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
</div>
